<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue数据监测总结</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- 准备一个容器 -->
    <div id="root">
        <h1>学生信息</h1>

        <button @click="student.age++">年龄+1</button>
        <button @click="addSex">点击添加性别</button>
        <button @click="student.sex='未知'">修改性别</button>

        <button @click.once="addFriend">在列表首位添加一个朋友</button>

        <button @click="changeZs">修改第一个朋友的名字为张三</button>

        <button @click="addHobby">添加一个爱好</button>
        <button @click="changeHobby">修改第一个爱好</button>

        <h3>姓名:{{student.name}}</h3>
        <h3>年龄:{{student.age}}</h3>
        <h3 v-if="student.sex">性别:{{student.sex}}</h3>
        <h3>爱好:{{student.hobby}}</h3>

        <ul>
            <li v-for="(h, index) in student.hobby" :key="index">
                {{h}}
            </li>
        </ul>
        <h3>朋友们</h3>
        <ul>
            <li v-for="(f, index) in student.friends" :key="index">
                {{f.name}}---{{f.age}}
            </li>
        </ul>
    </div>
    <script>
        Vue.config.productionTip = false;
        // 用computed属性计算实现
        const vm = new Vue({
            el: '#root',
            data() {
                return {
                    student: {
                        name: 'tom',
                        age: 18,
                        hobby: ['抽烟', '喝酒', '烫头'],
                        friends: [{
                            name: 'jerry',
                            age: 35
                        }, {
                            name: 'tony',
                            age: 36
                        }]
                    }
                }
            },
            methods: {
                addSex() {
                    // 为student添加一个属性
                    // Vue.set(this.student, 'sex', '男'); //第一种
                    this.$set(this.student, 'sex', '男'); // 第二种
                    // vm.$set(this.student, 'sex', '男');// 第三种
                },
                addFriend() {
                    // 使用能引起原数组变化并且vue进行过包装的7个api
                    this.student.friends.unshift({
                        name: 'jack',
                        age: 70
                    })
                },
                changeZs() {
                    // 修改第一个朋友的名字
                    this.student.friends[0].name = '张三';
                },
                addHobby() {
                    // 添加一个爱好
                    this.student.hobby.push('学习');
                },
                changeHobby() {
                    // 修改第一个爱好
                    // this.student.hobby.splice(0, 1, '开车') // 第一种写法
                    // Vue.set(this.student.hobby, 0, '男') // 第二种写法
                    this.$set(this.student.hobby, 0, '开车') // 第二种写法
                }
            },
        })
    </script>
</body>

</html>